<div class="panel-header">
    <div class="header text-center">
      <h2 class="title">Menú de Maestros</h2>
  
    </div>
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header d-flex align-items-center justify-content-center">
            <img src="../../../assets/img/arys.png" alt="" class="invert" style="width: 20%;">
          </div>
          <div class="card-body">

            <div id="maestrosNavigation">
              <div class="row">
                <div class="col-md-3" *ngFor="let item of menuItems">
                  <button
                    type="button"
                    data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapseItem-' + item.id"
                    aria-expanded="false" [attr.aria-controls]="'#collapseItem-' + item.id"
                    [id]="'collapsebutton-' + item.id"
                    mat-raised-button type="button"
                    [value]="item.value"
                    class="m-s-items"
                    style="z-index: 10;"
                  >
                    <i [class]=" item.icon +' mr-1'"></i>
                    {{ item.text.toUpperCase() }}
                    
                  </button>
                  <div class="collapse" [id]="'collapseItem-' + item.id">
                    <div style="background-color: #fcb2038c;" class="card card-body subitems-body w-full">
                      <a style="color: black;" [routerLink]="subitem.url" class="d-flex justify-content-start sub-item btn bg-light" *ngFor="let subitem of item.items">
                        <span style="text-align: start;">
                          <i [class]=" subitem.icon +' mr-1'"></i>
                          {{subitem.text}}
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>