
<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <a class="navbar-brand" [href]="url">{{title}}</a>
        </div>
        <div class="d-flex">
          <div style="background: transparent !important;" class="btn-group d-lg-none d-md-flex">
            <button type="button" style="padding: 7px 10px; margin: 0px !important;" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <span *ngIf="notifications.length > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{notifications.length}}
              </span>
              <i style="font-size: 18px; margin-right: 3px;" class="fa-regular fa-bell"></i>
            </button>
            <ul *ngIf="notifications.length > 0" class="dropdow-alerts dropdown-menu dropdown-menu-end">
              <li *ngFor="let notification of notifications; index as i">
                <span class="dropdown-item">
                  {{notification.xmensaje}} <a style="color:black; margin-left: 5px;" (click)="clickNotification(i, notification)" [href]="'/'+notification.xurl">Ver mas</a>
                </span>
              </li>
              
            </ul>
          </div>
          <button class="navbar-toggler" type="button" (click)="collapse()"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
          <ul class="navbar-nav">
            <li style="background: transparent !important;" class="btn-group justify-content-end d-none d-lg-flex mr-2">
              <button type="button" style="padding: 7px 10px; margin: 0px !important; " class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" >
                <span *ngIf="notificationsNumber > 0" class="position-absolute top-0 end-0 translate-middle badge rounded-pill bg-danger" >
                  {{notificationsNumber}}
                </span>
                <i style="font-size: 18px; margin-right: 3px;" class="fa-regular fa-bell"></i>
              </button>
              <ul *ngIf="notifications.length > 0" class="dropdow-alerts dropdown-menu dropdown-menu-end">
                <li *ngFor="let notification of notifications">
                  <span class="dropdown-item ">
                    {{notification.xmensaje}} <a *ngIf="notification.xurl" style="color:black; margin-left: 5px;" (click)="clickNotification(i, notification)" [href]="'/' + notification.xurl">Ver mas</a>
                  </span>
                </li>
                
              </ul>
            </li>
            <li class="nav-item">
              <a class="d-flex align-items-center h-100 nav-link" href="auth/logout">
                <i style="font-size: 16px;" class="fa-solid fa-right-from-bracket"></i>
                <p>
                  <span class="d-lg-none d-md-block">Log out</span>
                </p>
              </a>
            </li>
          </ul>
        </div>
    </div>
</nav>
