<!-- <form (keydown)="checkPressEnter($event)" id="personsFormGroup" name="personsFormGroup" [formGroup]="personsFormGroup">
  <ng-template matStepLabel (click)="onNextStep()">Datos Personales</ng-template>
  <div class="row">
      <div class="col-4 col-md-2 ">
          <mat-form-field class="example-full-width">
              <mat-label>Tipo Doc. Identidad</mat-label>
              <input type="text"
                     placeholder="Seleccione"
                     aria-label="Seleccione"
                     matInput
                     [formControl]="oneStepControls.identControl"
                     [matAutocomplete]="ident"
                     required>
                    <mat-autocomplete #ident="matAutocomplete" (optionSelected)="onIdentSelection($event)">
                      <mat-option *ngFor="let ident of filteredIdent | async" [value]="ident">
                        {{ ident }}
                      </mat-option>
                    </mat-autocomplete>
            </mat-form-field>
      </div>
      <div class="col-8 col-md-4 ">
          <mat-form-field class="example-full-width">
              <mat-label>Identificación</mat-label>
              <input (keydown)="checkPress($event)" matInput placeholder="Identificación" formControlName="xrif_cliente" (change)="searchPropietary()" required>
          </mat-form-field>
      </div>
      <div class="col-md-3" *ngIf="activaNombreYapellido" >
          <mat-form-field class="example-full-width">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Nombre" formControlName="xnombre" required>
          </mat-form-field>
      </div>
      <div class="col-md-3" *ngIf="activaNombreYapellido" >
          <mat-form-field class="example-full-width">
              <mat-label>Apellido</mat-label>
              <input matInput placeholder="Apellido" formControlName="xapellido">
          </mat-form-field>
      </div>
      <div class="col-md-6" *ngIf="activaRepresentante" >
        <mat-form-field class="example-full-width">
            <mat-label>Nombre Representante</mat-label>
            <input matInput placeholder="Nombre Representante" formControlName="xnombre" >
        </mat-form-field>
    </div>
  </div>

  <div class="row">
      <div class="col-md-3">
          <mat-form-field class="example-full-width">
              <mat-label>Teléfono</mat-label>
              <input matInput placeholder="Teléfono" formControlName="xtelefono_emp" required>
          </mat-form-field>
      </div>
      <div class="col-md-3">
          <mat-form-field class="example-full-width">
              <mat-label>Correo</mat-label>
              <input matInput placeholder="Correo" formControlName="email" required>
          </mat-form-field>
      </div>
      <div class="col-md-3">
          <mat-form-field class="example-full-width">
              <mat-label>Estado</mat-label>
              <input type="text"
                     placeholder="Seleccione Estado"
                     aria-label="Seleccione"
                     matInput
                     [formControl]="oneStepControls.stateControl"
                     [matAutocomplete]="state"
                     formControlName="xestado"
                     required>
                     <mat-autocomplete #state="matAutocomplete" (optionSelected)="onStateSelection($event)">
                      <mat-option *ngFor="let state of filteredState | async" [value]="state">
                        {{ state }}
                      </mat-option>
                    </mat-autocomplete>
            </mat-form-field>
      </div>
      <div class="col-md-3">
          <mat-form-field class="example-full-width" >
              <mat-label>Ciudad</mat-label>
              <input type="text"
                     placeholder="Seleccione Ciudad"
                     aria-label="Seleccione"
                     matInput
                     [formControl]="oneStepControls.cityControl"
                     [matAutocomplete]="city"
                     formControlName="xciudad"
                     required>
                     <mat-autocomplete #city="matAutocomplete" (optionSelected)="onCitySelection($event)">
                      <mat-option *ngFor="let city of filteredCity | async" [value]="city">
                        {{ city }}
                      </mat-option>
                    </mat-autocomplete>
            </mat-form-field>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <mat-form-field class="example-full-width">
            <mat-label>Dirección</mat-label>
            <textarea  matInput placeholder="Direccion" formControlName="xdireccion" required></textarea>
        </mat-form-field>
    </div>
  </div>

  <div class="row justify-content-center py-5">
    <div class="col-12 col-md-2">
      <button class="w-100" mat-button (click)="onNextStep()" style="background: #fcb203;">Continuar</button>
    </div>
  </div>
</form> -->
