.load-screen {
  display: block;
  position:fixed;
  z-index: 100000 !important;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  background-color: white;
  transition: background-color 0.7s ease-in-out; 
}
.loading-screen {
  background-color: transparent;
}
.loaded-screen {
  display: none !important;
}
.mat-form-field {
  width: 100% !important;
}
.mat-form-field-infix {
  width: auto !important;
}